
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    
    font-family: 'Times New Roman', Times, serif;
    --imperial-red: hsla(355, 75%, 90%, 1);
    --honeydew: hsla(105, 5%, 98%, 1);
    --powder-blue: hsla(182, 24%, 86%, 1);
    --celadon-blue: hsla(203, 56%, 62%, 1);
    --prussian-blue: hsla(215, 67%, 34%, 1);
    background-color: hsla(215, 67%, 34%, 1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height)); 
}


header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: 3px solid black;
    color: whitesmoke;
    
}

.about-section {
    padding: 30px;
    text-align: center;
    background-color: #8D92A5;
    color: hsl(0, 0%, 0%);hsl(0, 0%, 0%);
}

footer {
    display: flex;
    justify-content: center;
}

.takeQuiz {
    position: relative;
    display: block;
    color: black;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin: 30px 0;
    border: 5px solid #474e5d;
    padding: 14px 60px;
    text-transform: uppercase;
    transition: 1s all ease;
}

.takeQuiz::before {
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.6s ease;
}





